{% extends 'main/layout.html' %}

{% block title %}Форма по созданию теста{% endblock %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}  <span class="close-btn" onclick="this.parentElement.style.display = 'none';">&times;</span></li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="features">
        <h1>Форма по созданию теста</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.test_title }}
            <div class="form-group1">
                <label>Вопрос 1:</label>
                {{ question_form.question_text }}
                <label>Баллы:</label>
                {{ question_form.marks }}
                <br>
                <br>
                <label>Ответы:</label>
                <br>
            </div>
            <br><br>
            <button class="btn btn-success" type="submit">Сохранить</button>
            <br><br>
        </form>
    </div>
{% endblock %}