{% if error_message %}
    <span class="error">{{ error_message }}</span>
{% elif is_correct %}
    <span class="success">Правильно.</span>
    <span class="success">{{ question.explanation }}</span>
{% elif is_correct == None %}
    <span class="warning">Не выбран вариант ответа. Не забудьте ответить позже!</span>
{% else %}
    {% if correct_answer|length > 1 %}
        <div class="errorrr">
            Неверно!
            <ul class="answer_list">
                Правильные ответы:
                {% for answer in correct_answer %}<li>{{ answer }}</li>{% endfor %}
            </ul>
        </div>
    {% else %}
        <span class="error">Неверно!</span>
        <span class="success">Правильный ответ: {{ correct_answer }}</span>
    {% endif %}
{% endif %}
