{% extends 'main/layout.html' %}

{% block title %}Тест{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ test.test_title }}</h1>
        <form id="question-form"
              action="{% url 'grade_question' test.id question.id %}"
              method="post">
            {% csrf_token %}
            {% if question.questiontype == 'single' %}
                <div class="question-container">
                    <h5>{{ question.name }}</h5>
                    <h6>Только один ответ здесь - правильный.</h6>
                    <br>
                    {% for answer in question.answer_set.all %}
                        <label>
                            <input type="radio"
                                   name="answer"
                                   class="form-check-input"
                                   id="answer{{ forloop.counter }}"
                                   value="{{ answer.id }}"/>
                            {{ answer.name }}
                        </label>

                    {% endfor %}
                </div>
            {% else %}
                <div class="question-container">
                    <h5>{{ question.name }}</h5>
                    <h6>Здесь несколько правильных ответов.</h6>
                    <br>
                    {% for answer in question.answer_set.all %}
                        <label>
                            <input type="checkbox"
                                   name="answer"
                                   class="form-check-input"
                                   id="answer{{ forloop.counter }}"
                                   value="{{ answer.id }}"/>
                            {{ answer.name }}
                        </label>

                    {% endfor %}
                </div>
            {% endif %}
            <div class="text-center">
                <input type="submit"
                       value="Ответить"
                       class="btn btn-info"/>
            </div>
        </form>
        <div id="question-feedback" class="col-12 mt-3 text-200 text-center"></div>
            {% if next_question %}
            <div class="next">
                <a href="{% url 'display_question' test.id next_question.id %}" class="btn btn-info"><i class="fa fa-arrow-circle-right"></i> Следующий вопрос</a>
            </div>
            {% else %}
            <div class="finish">
                <h5>Это последний вопрос теста. После ответа нажмите кнопку</h5>
                <br>
                <a href="{% url 'test_results' test.id %}" class="btn btn-info">Посмотреть результаты</a>
            </div>
            {% endif %}
    </div>

    <script>
        const form = document.getElementById("question-form");
        form.addEventListener("submit", (e) => {
            e.preventDefault();
            fetch(form.action, {method:'post', body: new FormData(form)})
                .then((response) => response.text())
                .then(text => {
                    document.getElementById("question-feedback").innerHTML = text;
                });
        });
    </script>
{% endblock %}