{% extends 'main/layout.html' %}

{% block title %}Список тестов{% endblock %}

{% block content %}
    <div class="features">
        <table class="table">
            <thead>
                <tr>
                    <th>Доступные тесты</th>
                    <th>Баллы</th>
                </tr>
            </thead>
            <tbody>
                {% for test in tests %}
                    <tr>
                        <td><a href="{% url 'test_detail' test.id %}">{{ test.test_title }}</a></td>
                        <td>{{ test.points }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}