{% extends 'main/layout.html' %}

{% block title %}Тест{% endblock %}

{% block content %}
  <div class="features">
    <h1>{{ test.test_title }}</h1>
    <form method="POST" action="">
      {% csrf_token %}
      {% for question in questions %}
        <h3>{{ question.question_text }}</h3>
        {% for answer in question.answer_set.all %}
          <label>
            <input type="radio" name="question_{{ question.id }}" value="{{ answer.id }}">
            {{ answer.answer_text }}
          </label><br>
        {% endfor %}
        <br>
      {% endfor %}

      <a href="{% url 'test_results' test_id=test_id %}" class="button">Завершить тест</a>
    </form>
  </div>
{% endblock %}