{% extends "users/layout.html" %}
{% load static %}

{% block content %}
<form method="POST" action="{% url 'Sign_In' %}">
    {% csrf_token %}

<div class="form-error">{{form.non_field_errors}}</div>

{% for f in form %}
<p><label class="form-label" for="{{ f.if_for_label }}">{{f.label}}:</label>{{ f }}</p>
<div class="form-error">{{f.errors}}</div>
{% endfor %}

     <div class="input_form">
                <input name="login" type="submit" value="Авторизоваться" class="btn-primary" href="">
            </div>
      </div>

</form>
<h6>Нет аккаунта?<a href="registration">Регистрация</a></h6>
<div class="square"></div>
{% endblock %}
