{% extends 'main/layout.html' %}
{% block content %}
    <div class="top_bg">
    </div>
    {% if form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="container-appeal">
        <div class="appeal_item">
            <h3 class="font-weight-light my-4 text-center">Смена вашего пароля</h3>
            <div class="card-body">
                <form method="POST" class="form_password_ch">
                    {% csrf_token %}
                    <label class="small mb-1" for="id_old_password">Текущий пароль</label>
                    <input type="password" name="old_password" autocomplete="new-password"
                        class="form-control" required id="id_old_password"
                        placeholder="Введите текущий пароль"/>

                    <label class="small mb-1" for="id_new_password1">Новый пароль</label>
                    <input type="password" name="new_password1" autocomplete="new-password"
                        class="form-control" required id="id_new_password1"
                        placeholder="Введите новый пароль"/>

                    <label class="small mb-1" for="id_new_password2">Подтверждение нового пароля</label>
                    <input type="password" name="new_password2" autocomplete="new-password"
                        required id="id_new_password2" class="form-control"
                        placeholder="Подтвердите новый пароль"/>
                        <div class="appeal_button">
                           <button type="submit" class="appeal_button" id="reset">Обновить пароль</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}