{% extends 'main/layout.html' %}
{% block content %}
    {% if form.errors %}
        <div class="form-error">
            <ul>
                {% for field in form %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="features">
        <div class="appeal_item">
            <h1>Смена вашего пароля</h1>
            <ul>
                <h5>Введите текущий пароль</h5>
                <h5>Введите новый пароль</h5>
                <h5>Подтвердите новый пароль</h5>
            </ul>
            <form method="POST" class="form_password_ch">
                {% csrf_token %}
                <ol>
                    <input type="password" name="old_password" autocomplete="new-password" class="form-control" required id="id_old_password"/>
                    <input type="password" name="new_password1" autocomplete="new-password" class="form-control" required id="id_new_password1"/>
                    <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" class="form-control"/>
                </ol>
                <div class="button-container">
                    <button type="submit" class="btn btn-success" id="reset">Обновить пароль</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}