{% block title %}Профиль{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div>
<img class="rounded-circle article-img" src="{{ user.account.avatar.url }}">

<p>Логин</p>
<input readonly type="text" id="username" name="Фамилия" value="{{user.username}}">

<p>Фамилия</p>
<input readonly type="text" id="last_name" name="Фамилия" value="{{user.last_name}}">

<p>Имя</p>
<input readonly type="text" id="first_name" name="Имя" value="{{user.first_name}}">

<p>Отчество</p>
<input readonly type="text" id="surname" name="Отчество" value="{{user.surname}}">

<p>Дата рождения</p>
<input readonly type="text" id="birthday_date" name="Имя" value="{{user.birthday_date}}">

<p>E-mail</p>
<input readonly type="text" id="email" name="Почта" value="{{user.email}}" color="black">

    <a href="profile-changed">Редактировать профиль</a><br>
    <a href="{% url 'password_change' %}">Смена пароля</a>
</div>


{% endif %}
{% endblock %}