{% extends 'main/layout.html' %}

{% block title %}Наша команда{% endblock %}

{% block content %}
    <div class="features">
        <h1>Наша команда</h1>
        <div class="about-container">
            <img class="rounded-circle article-img" src="/media/about/Kostya.jpg">
            <h5>Гарифуллин Константин</h5>
        </div>
        <div class="about-container">
            <img class="rounded-circle article-img" src="/media/about/Arina.jpg">
            <h5>Зайнетдинова Арина</h5>
        </div>
        <div class="about-container">
            <img class="rounded-circle article-img" src="/media/about/Artem.jpg">
            <h5>Ненашев Артем</h5>
        </div>
        <div class="about-container">
            <img class="rounded-circle article-img" src="/media/about/Ksenia.jpg">
            <h5>Непогодина Ксения</h5>
        </div>
        <div class="about-container">
            <img class="rounded-circle article-img" src="/media/about/Alexey.jpg">
            <h5>Сидельников Алексей</h5>
        </div>
    </div>
{% endblock %}