body {
    background: #b7d0f7;
}

aside {
    float: left;
    background: #0e3d8a;
    width: 20%;
    padding: 3.5%;
    text-decoration: none;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #0e3c87;
}

aside h3 {
    margin-top: 30px;
    font-size: 28px;
}

aside h5 {
    margin: 580px auto 10px 30px;
    font-size: 17px;
}

aside ul, ol {list-style: none}
aside a {text-decoration: none}
aside ul li {
    color: #ffffff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}
aside ul li:hover, aside ul a:hover, ol li:hover, aside ol a:hover {
    color: #7b9dd4;
    text-decoration: none;
    transform: scale(1.05);
}

aside ol li {
    color: #ffffff;
    display: block;
    margin-top: 10px;
    transition: transform .6s ease;
}

main .features {
    float: left;
    margin-top: 70px;
    margin-left: 45px;
    text-align: center;
    width: 75%;
}
main .features h1 {font-size: 50px;}
main .features p {
    max-width: 400px;
    margin: 20px auto;
}

main .features form {
    margin-left: 32%;
    width: 500px;
    margin-top: 30px;
}