body {
    background: #b7d0f7;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.square {
    width: 30%;
    height: 30vw;
    background-color: #0e3d8a;
    border-radius: 10%;
    position: absolute;
    margin-top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input_form {
    color: white;
    z-index: 1;
}
.input_form:hover {
  background: #1d49aa;
}
.input_form:focus {
  outline: none;
  box-shadow: 0 0 0 1px #cbd6ee;
}

.btn {
    position: absolute;
    min-width: 100px;
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #4676d7;
    color: #fff;
    padding: 8px 16px;
    font-size: 1rem;
    color: white;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.btn:hover {
  background: #1d49aa;
}
.btn:active {
  background: #1d49aa;
  box-shadow: 0 0 0 1px #cbd6ee;
}

h6 {
    position: absolute;
    color: white;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

a {color:white}
a:link {color: white;}
a:hover {color: white;}
a:focus {color: white;}

.form-control {
    position: relative;
    width: 25%;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.form-error {
    position: absolute;
    width: 25%;
    line-height: 120%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

