body {
    background: #b7d0f7;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.square {
    width: 30%;
    height: 42vw;
    background-color: #0e3d8a;
    border-radius: 10%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-control {
    position: relative;
    width: 80%;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#id_username {
    position: relative;
    top: 120px;
}

#id_first_name {
    position: relative;
    top: 140px;
}

#id_last_name {
    position: relative;
    top: 160px;
}

#id_surname {
    position: relative;
    top: 180px;
}

#id_email {
    position: relative;
    top: 200px;
}

#id_password1 {
    position: relative;
    top: 220px;
}

#id_password2 {
    position: relative;
    top: 240px;
}

.input_form {
    color: white;
    z-index: 1;
}
.input_form:hover {
  background: #1d49aa;
}
.input_form:focus {
  outline: none;
  box-shadow: 0 0 0 1px #cbd6ee;
}

.btn {
    position: absolute;
    min-width: 100px;
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #4676d7;
    color: #fff;
    padding: 8px 16px;
    font-size: 1rem;
    color: white;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.btn:hover {
  background: #1d49aa;
}
.btn:active {
  background: #1d49aa;
  box-shadow: 0 0 0 1px #cbd6ee;
}

h6 {
    position: absolute;
    color: white;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

a {color:white}
a:link {color: white;}
a:hover {color: white;}
a:focus {color: white;}

.errorlist {
    position: absolute;
    color: white;
    width: 70%;
    line-height: 120%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

[for = "id_creator"] {
    position: absolute;
    color: white;
    top: 638px;
    left: 13%;
    z-index: 1;
}

[for = "id_teacher"] {
    position: absolute;
    color: white;
    top: 638px;
    left: 60%;
    z-index: 1;
}

.custom-checkbox {
    position: absolute;
    top: 82%;
    left: 40%;
    z-index: 1;
}

#id_teacher{
    position: absolute;
    top: 82%;
    left: 82%;
    z-index: 1;
}